<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="../node_modules/vue/dist/vue.js"></script>
        <script src="../node_modules/vue-resource/dist/vue-resource.min.js"></script>
    </head>
    <body>
        <div id="app">
            <input v-model="domaineName" type="text">
            <button v-on:click="findDomain">Find domain</button>

            <div>
                Résultats:
                <li v-for="domainHost in domainHostsFound">
                    {{ domainHost.name }} - {{ domainHost.price }}
                </li>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>
